.dropWrapper {
  background-color: #303030;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 3rem 0;
}

.dropContainer {
  background-color: #404040;
  border-radius: 10px;
  border: 2px dashed #4291ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  padding: 5rem 2rem;
}

.dropImage {
  max-width: 350px;
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  margin-bottom: 1rem;
}
.dropText {
}

.dropButtonContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem
}

.dropButton {
  cursor: pointer;
  background-color: #2f80ed;
  border: none;
  border-radius: 5px;
  color: var(--font-color);
  padding: 0.5rem 1rem;
  background-position: center;
  transition: background 0.8s;
}

.dropButton:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.dropButton:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.dropTextButton {
  cursor: pointer;
  color: #2f80ed;
  background: none;
  border: none;
  padding: 0.5rem 1rem;
}
