.dropWrapper {
  background-color: #303030;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 3rem 0;

}


.dropContainer {
  background-color: #404040;
  border-radius: 10px;
  border: 2px dashed #4291ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  padding: 5rem 2rem;
}

.dropImage {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
.dropText {
}

.dropButton {
  background-color: #2f80ed;
  border: none;
  border-radius: 5px;
  color: var(--font-color);
  padding: .5rem 1rem;
}